<nav class="navbar navbar-light bg-itau-azul shadow-sm mb-4">
    <a class="navbar-brand" href="#">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Banco_Ita%C3%BA_logo.svg/300px-Banco_Ita%C3%BA_logo.svg.png" width="36" alt="logo do banco Itau" class="logo">
    </a>
</nav>

<div class="container-fluid">
    <h1 class="titulo-itau-azul mb-0">Cadastro de Produtos</h1>
    <h4 class="texto-itau mb-3">Faça o gerenciamento dos seus produtos através do nosso sistema</h4>

    <app-list-products></app-list-products>
</div>

<span class="dev">Desenvolvido por: João Victor Sena Cardoso - GFT 2023</span>